@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/*
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
*/
:root {
  --color-primary: #4D41C0;

}
* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
html, body {
  background-color: #e8e8e8;
}
a, a:hover {
  text-decoration: none;
  color: unset;
}
